# -----------------------------
# web_app
# -----------------------------
web_app/.env
web_app/.venv/
web_app/__pycache__/
web_app/*.pyc
web_app/*.log
web_app\github_app_private_key.pem
web_app/generated_dags
web_app/generated_dags

# -----------------------------
# airflow
# -----------------------------
airflow/.env
airflow/.venv/
airflow/__pycache__/
airflow/*.pyc
airflow/logs/
airflow/*.log
airflow/pipelines/*/evaluation/history/*.tmp.json
airflow/actions-runner/
airflow/credgcp.json
airflow/web_app_data/
airflow/dags/

# -----------------------------
# application root
# -----------------------------
*.env
*.log
flask_err.log
flask_run.log

# -----------------------------
# Python cache / bytecode (global)
# -----------------------------
__pycache__/
pycache/
*.py[cod]
*.pyc.*
